/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */


body {
  background: #352f5b;
  /* font-family: 'Montserrat', sans-serif; */
  /* 

font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;

  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 900;

}

.img-m {
  max-width: 40%;
  padding-bottom: 20px;
}


.main-h1 {
  color: #fff;
}

/* .container {
  max-width: 300px;
} */

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.todos li {
  background: #423a6f;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
  margin-left: -4px;
}

.list-group-horizontal a {
  background-color: #CCD5E5;
}

.headerbtn {
  margin-right: 20px;
  margin-left: 20px;
}

#timer {
  font-size: 90px;
}