/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */


body {
  background: #1D1B32;
  /* background-image: url('1.jpg'); */
  /* font-family: 'Montserrat', sans-serif; */
  /* 

font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;

  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 900;

}

.img-m {
  max-width: 40%;
  padding-bottom: 20px;
}


.main-h1 {
  color: #fff;
}

/* .container {
  max-width: 300px;
} */

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.todos li {
  background: #596175;
  /* background-color: #4263eb; */
  border-bottom: .25rem solid rgba(0, 0, 0, .2);
  border-radius: .5rem;
  border-right: .25rem solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: #fff;
  line-height: 0;
  margin-bottom: 0.6rem;
  padding: 0.5rem 1rem;
  text-align: center;
}



.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
  margin-left: -4px;
}

.list-group-horizontal a {
  background-color: #CCD5E5;
}

.headerbtn {
  margin-right: 20px;
  margin-left: 20px;
}

#timer {
  font-size: 90px;
}